<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}
<head>
    <style type="text/css">
    .feedback{
      margin-top: 55px;
      text-align: center;
    }

    .all{
      background-color: aquamarine;
    }
 

.cuoitrang{
  background-color: #d1c0f8;
}
    </style>
</head>
<body>
     {{>header  title=this.title}}
 <div class="all">
<div class="feedback"><form>
<tr>
  <td>FeedBack</td>
  <td>
    <textarea rows="20" cols="150" name="Feedback">Vui lòng nhập ý kiến khách hàng hoặc báo lỗi ở đây</textarea>
  </td>
</tr>
</form> <br> <br> <br> <br>
</div>
</div>

  <div class="cuoitrang">
<div class="footer container-fluid hidden-xs hidden-sm">
    <div class="row">
                <div class="col-md-3" id="t1">
                    <h3>SUPPORT</h3>
                        <ul>
                            <li><a href="#">Hỏi đáp</a></li>
                            <li><a href="#">Địa chỉ Shop</a></li>
                            <li><a href="#">Xem chính sách</a></li>
                            <li><a href="#">Báo cáo giao dịch thất bại</a></li>
                        </ul>
                </div>
                <div class="col-md-3" id="t2">
                   <h3>CONTACT</h3>
                        <ul>
                            <li><a href="#">Email:Vinhdvgcs190891@fpt.edu.vn</a></li>
                            <li><a href="#">Hotline</a></li>
                            <li><a href="#">123 456 789</a></li>
                            <li><a href="#">Address: Long An</a></li>
                        </ul>
                </div>

                  <div class="col-md-3" id="t3"   >
                    <h3>Các sản phẩm khác</h3>
                    <a href="product"><img src="Pain600x600.jpg" style="height: 100px; width: 100px;"></a>&nbsp;
                    <a href="product"><img src="Kakashi.jpg" style="height: 100px; width: 100px;"></a>&nbsp;
                    <a href="product"><img src="Typhlosion.jpg" style="height: 100px; width: 100px;"></a>
                </div>
                <div class="col-md-3 " id="t4" >
                    <a href="#"><img src="Logo.jpg" style="width: 100px;"></a>
                </div>
          </div>
        </div>
            
                <div class="col-md-12 copyright" style="margin-left:36%; margin-top:90px;">
                  <h6> (c) Copyright by Vinhdv. All rights reserved.</h6> 
                </div>
            
   </div>
</body>

</html>